{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block morestylesheets %}
<!-- Need this for datetimewidget -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
{{ form.media }}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form method="post" action="{% url 'create_competition' %}" enctype="multipart/form-data">
		{% for field in form.visible_fields %}
  			{{ field }}
		{% endfor %}

		{% for field in judgeform.visible_fields %}
			{{ field }}
		{% endfor %}

		<button class="btn btn-success" type="submit">Submit</button>

		{% csrf_token %}
		</form>
	</div>
</div>

{% endblock body %}