{% extends "base.html" %}

{% load staticfiles %}
{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body class = "backgroundcolor">
{% endblock bodytag %}


{% block labels %}
    <h1>Search</h1>
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a id="tracks-tab">
                <span class="glyphicon glyphicon-play-circle sidebar-text"></span> <span class="sidebar-text">Tracks</span>
            </a>
        </li>
        <li >
            <a id="people-tab">
                <span class="glyphicon glyphicon-user sidebar-text"></span> <span class="sidebar-text">People</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    {{block.super}}
{% endblock body %}