{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body style="background-color: white">
{% endblock bodytag %}

{% block body %}
    {{block.super}}
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                {% block labels %}
                {% endblock %}
            </div>

            <div class="col-md-11 main pull-left">
                {% for post in posts %}
                    <div class="row post-div">
                        <div class="col-md-2">
                            {% if post.photo %}
                                <img class="pull-right" border="0" src="{% url 'post_photo' post.id %}" alt="{{post.profile.user.username}}" width="120" height="120">
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1 username-text">
                                {{post.profile.user.username}}
                                </div>
                                <div class="pull-right dim-text">{{post.date}}</div>
                            </div>

                            <div style="width: 200px" class="song-title">
                                {{post.title}}
                            </div>
                            <div style="width: 200px" class="song-text">
                                {{post.text}}
                            </div>
                            <audio controls id="audio_controls">
-                               <source id="audio_src" src="{% url 'get_post_song' post.id %}" type="{{ type }}">
-                           </audio>
                            <div class="comment-box">
                                <form class="comm-form" action="{% url 'add_comment' post.id %}" method="post">
                                    <div class="textbox-wrapper">
                                        <input type="text" name="comm" class="textbox song-text" placeholder=" Comment...">
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                            <p style="margin-top: 10px; width: 590px">
                                {% if profile not in post.likes.all %}
                                    <a href="{% url 'like' post.id %}">
                                       <button type="button" class="btn btn-default btn-xs my-btn dark-text like-btn"> &#10084; Like</button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'like' post.id %}">
                                       <button type="button" class="btn btn-default btn-xs lit-like dark-text like-btn"> &#10084; Unlike</button>
                                    </a>
                                {% endif %}
                                {% if post.profile.user == user %}
                                    <a href="{% url 'delete_post' post.id %}">
                                        <button type="button" class="btn btn-default btn-xs my-btn dark-text del-btn"> &#10006; Delete</button>
                                    </a>
                                {% endif %}
                                <!-- comment related -->
                                <a class="dim-text pull-right" data-toggle="collapse" data-target="#{{post.id}}"> {{post.comment_set.count}}</a>
                                <span class="dim-text pull-right">&#9998; &nbsp;</span>
                                <!-- like related -->
                                <span class="pull-right dim-text">&nbsp; | &nbsp;</span>
                                <span class="pull-right dim-text like-count">{{post.likes.count}}</span>
                                <span class="pull-right dim-text">&#10084; &nbsp;  </span>
                            </p>
                            <div id="{{post.id}}" class="collapse">
                                {% for comment in post.comment_set.all reversed %}
                                    <div class="comment-username">
                                        {{comment.profile.user.username}}
                                    </div>
                                    <div style="width: 200px" class="comment-text">
                                        {{comment.text}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <hr style="width:730px">
                {% endfor %}
            </div>
        </div>
    </div>
   <input type="hidden" value="{{ csrf_token }}" id="csrf">
{% endblock body %}