{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body style="background-color: white">
{% endblock bodytag %}

{% block body %}
    {{block.super}}
    <div class="container">
        <div class="row">
            <div class="sidebar">
                {% block labels %}
                {% endblock %}
            </div>

            <div class="col-md-11 main pull-left">
                {% for post in posts %}
                    <div class="row post-div">
                        <div class="col-md-2">
                            {% if post.photo %}
                                <img class="pull-right" border="0" src="{% url 'post_photo' post.id %}" alt="{{post.profile.user.username}}" width="120" height="120">
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-1 username-text">
                                {{post.profile.user.username}}
                                </div>
                                <div class="pull-right dim-text">{{post.date}}</div>
                            </div>

                            <div style="width: 200px" class="song-title">
                                {{post.title}}
                            </div>
                            <div style="width: 200px" class="song-text">
                                {{post.text}}
                            </div>





    <div class="container">
    <div class="row">
    
    <div id="demo">
        <div id="waveform">
            <div class="progress progress-striped active" id="progress-bar">
                <div class="progress-bar progress-bar-info"></div>
            </div>

            <!-- Here be the waveform -->
        </div>

        <div class="controls">
           
            <button class="btn btn-primary" data-action="play">
                <i class="glyphicon glyphicon-play"></i>
                Play
                /
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </button>
        </div>
    </div>


    <audio controls style="display:none" id="audio_controls">
        <source id="audio_src" src="{% url 'get_post_song' post.id %}" type="{{ type }}">
        Your browser does not support the audio element.
    </audio>


                            <div class="comment-box">
                                <form class="comm-form" action="{% url 'add_comment' post.id %}" method="post">
                                    <div class="textbox-wrapper">
                                        <input type="text" name="comm" class="textbox song-text" placeholder=" Comment...">
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                            <p style="margin-top: 10px; width: 590px">
                                {% if profile not in post.likes.all %}
                                    <a href="{% url 'like' post.id %}">
                                       <button type="button" class="btn btn-default btn-xs my-btn dark-text like-btn"> &#10084; Like</button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'like' post.id %}">
                                       <button type="button" class="btn btn-default btn-xs lit-like dark-text like-btn"> &#10084; Unlike</button>
                                    </a>
                                {% endif %}
                                {% if post.profile.user == user %}
                                    <a href="{% url 'delete_post' post.id %}">
                                        <button type="button" class="btn btn-default btn-xs my-btn dark-text del-btn"> &#10006; Delete</button>
                                    </a>
                                {% endif %}
                                <!-- comment related -->
                                <a class="dim-text pull-right" data-toggle="collapse" data-target="#{{post.id}}"> {{post.comment_set.count}}</a>
                                <span class="dim-text pull-right">&#9998; &nbsp;</span>
                                <!-- like related -->
                                <span class="pull-right dim-text">&nbsp; | &nbsp;</span>
                                <span class="pull-right dim-text like-count">{{post.likes.count}}</span>
                                <span class="pull-right dim-text">&#10084; &nbsp;  </span>
                            </p>
                            <div id="{{post.id}}" class="collapse">
                                {% for comment in post.comment_set.all reversed %}
                                    <div class="comment-username">
                                        {{comment.profile.user.username}}
                                    </div>
                                    <div style="width: 200px" class="comment-text">
                                        {{comment.text}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                <hr style="width:730px">
                {% endfor %}
            </div>
        </div>
    </div>
   <input type="hidden" value="{{ csrf_token }}" id="csrf">
{% endblock body %}




{% block more_scripts %}
    <script src="{% static 'js/recordJs/recorder.js' %}"></script>
    <script src="{% static 'js/recordJs/recorderWorker.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/wavesurfer.js' %}"></script>

    <script src="{% static 'js/wavesurfer/src/webaudio.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/audioelement.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.canvas.js' %}"></script>

    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.timeline.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.regions.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.minimap.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.microphone.js' %}"></script>

    <script src="{% static 'js/postwave.js' %}"></script>

    <script src="{% static 'js/studio.js' %}"></script>

{% endblock more_scripts %}
