{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}


{% block bodytag %}
<body class="signupbody" data-pinterest-extension-installed="cr1.3.4" bgcolor="#FFFFFF">
{% endblock bodytag %}
{% block body %}




         {{block.super}}

	

        <form action = "{% url 'edit-profile' %}" method="post" enctype="multipart/form-data" class="form-signin" role="form">
			{% for error in form.non_field_errors %}
			<p style="color:red">{{error}}</p>
			{% endfor %}

			{% for error in errors %}
			<p style="color: red">{{error}}</p>
			{% endfor %} 

            <h2 class="form-signin-heading">edit profile</h2>
            <!--<a class = "white" href = "{% url 'stream' %}">cancel</a>-->


          	<div>
                {{ form.new_username|add_class:"form-control"|attr:"placeholder:New Username" }}
                {% if form.new_username.errors %}
                    <p style="color:red">{{ form.new_username.errors }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.new_email|add_class:"form-control"|attr:"placeholder:New E-mail" }}
                {% if form.new_email.errors %}
                    <p style="color:red">{{ form.new_email.errors }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.passwordc|add_class:"form-control"|attr:"placeholder:Current Password" }}
                {% if form.passwordc.errors %}
                    <p style="color:red">{{ form.passwordc.errors }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.password1|add_class:"form-control"|attr:"placeholder:New Password" }}
                {% if form.password1.errors %}
                    <p style="color:red">{{ form.password1.errors }}</p>
                {% endif %}
            </div>
            <div>
                {{ form.password2|add_class:"form-control"|attr:"placeholder:Re-type Password" }}
                {% if form.password2.errors %}
                    <p style="color:red">{{ form.password2.errors }}</p>
                {% endif %}
            </div>            
        	<button class="btn btn-lg btn-primary btn-block signup" type="submit">Save</button>
            {% csrf_token %}
         </form>
     
    
{% endblock body %}