{% extends "base.html" %}

{% load staticfiles %}
{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body class = "backgroundcolor">
{% endblock bodytag %}

{% block body %}
    {{block.super}}
    <div class="container">
        <div class="column">
            <div class="col-sm-3 col-md-3 sidebar">
                {% block labels %}
                    <h1>Search</h1>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active">
                            <a aria-controls="tracks" role="tab" data-toggle="tab" href="#">
                                <span class="sidebar-text">Trending</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="people" role="tab" data-toggle="tab" class="sidebar-text" href="#">
                                <span class="sidebar-text">Suggested Tracks</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tracks" style="margin-left: 200px">
                        {{message}}
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="people" style="margin-left: 200px">
                        PEOPLES
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock body %}



{% block more_scripts %}
    <script src="{% static 'js/recordJs/recorder.js' %}"></script>
    <script src="{% static 'js/recordJs/recorderWorker.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/wavesurfer.js' %}"></script>

    <script src="{% static 'js/wavesurfer/src/webaudio.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/audioelement.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.canvas.js' %}"></script>

    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.timeline.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.regions.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.minimap.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.microphone.js' %}"></script>

    <script src="{% static 'js/wave.js' %}"></script>

    <script src="{% static 'js/studio.js' %}"></script>

{% endblock more_scripts %}
