{% extends "base.html" %}

{% load staticfiles %}
{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body class = "backgroundcolor">
{% endblock bodytag %}


{% block labels %}
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active">
            <a aria-controls="tracks" role="tab" data-toggle="tab" href="#">
                <span class="glyphicon glyphicon-play-circle sidebar-text"></span> <span class="sidebar-text">Trending Tracks</span>
            </a>
        </li>
        <li role="presentation">
            <a aria-controls="people" role="tab" data-toggle="tab" class="sidebar-text" href="#">
                <span class="glyphicon glyphicon-play-circle sidebar-text"></span> <span class="sidebar-text">Suggested Tracks</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tracks" style="margin-left: 200px">
        </div>
        <div role="tabpanel" class="tab-pane active" id="people" style="margin-left: 200px">
        </div>
    </div>
{% endblock %}



{% block more_scripts %}


{% endblock more_scripts %}
