{% extends "base_profile.html" %}

{% load staticfiles %}

{% block labels %}
    <ul class="profile">
        <img class = "propic" src="{% static 'images/propic.png' %}" >

        <div class="sideoptions">
            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
            your music
        </div>
        <div class="sideoptions">
            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
            playlists
        </div>
        <div class="sideoptions">
            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
            following
        </div>
        <div class="sideoptions">
            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
            stream
        </div>
        <div class="yourfavorites">
            your favorites
            <div class = "favorite">
                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                name here
            </div>
            <div class = "favorite">
                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                name here
            </div>
            <div class = "favorite">
                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                name here
            </div>
            <div class = "favorite">
                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                name here
            </div>
        </div>
    </ul>

{% endblock labels %}