{% extends "base_loggedin.html" %}

{% load staticfiles %}

{% block body %}
    <div data-pinterest-extension-installed="cr1.3.4" bgcolor="#FFFFFF">
        {{block.super}}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-3 sidebar">
                    <ul class="profile">
                        <img class = "propic" src="{% static 'images/propic.png' %}" >

                        <div class="sideoptions">
                            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
                            your music
                        </div>
                        <div class="sideoptions">
                            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
                            playlists
                        </div>
                        <div class="sideoptions">
                            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
                            following
                        </div>
                        <div class="sideoptions">
                            <img class = "sideicons" src="{% static 'images/icon.png' %}" >
                            stream
                        </div>
                        <div class="yourfavorites">
                            your favorites
                            <div class = "favorite">
                                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                                name here
                            </div>
                            <div class = "favorite">
                                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                                name here
                            </div>
                            <div class = "favorite">
                                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                                name here
                            </div>
                            <div class = "favorite">
                                <img class = "favoriteicons" src="{% static 'images/icon.png' %}" >
                                name here
                            </div>
                        </div>
                    </ul>
                </div>

                <div class=".col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0">
















                </div>
            </div>
        </div>
    </div>
{% endblock body %}