{% extends "grumblr/base.html" %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-3 sidebar">
          <ul class="profile">
            <a href = /grumblr/edit>
              <div class = "edit">
              <img src="{{ STATIC_URL }}grumblr/images/edit.png" width = "20"> </a>
            </div>
            <div class = "profile-image">

              {% if profile.picture %}
              <img src="{% url 'photo' profile.user.id %}" alt="{{ STATIC_URL }}media/thumbnails/default.png" width="120px">
              {% endif %}

            </div>
            <div class = "profile-name">
            
              {{user.username}}

            </div>
            <table class="stats">
                <tbody>
                  <tr>
                    <td colspan="6" class="social"><b>Your Profile</b><br/>such sad</td>
                    
                  </tr>
                </tbody>
            </table>

          </ul>

        </div>
        
        <div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-3 main">
    




             <div class="news-feeds display-inline-block">
            <div class="up-arrow-dark">&#9650;</div>
              <div class="up-arrow-white">&#9650;</div>
              



            {% block grumblrpost %}
                    <form class="update-status-box" action="{% url 'add_grumble' %}" method="post" enctype="multipart/form-data">
                        <div class="input" name = "grumbleadder">
                        {{form}}

                        </div>
                      </br>
                        <div class="func">
                              <input type="submit" class="btn btn-primary btn-xs send_btn" text="publish" value="Post grumble" />
                        </div>

                        {% csrf_token %}
                        
                     </form>
             {% endblock %}
        

            {% csrf_token %}
            </form> 
        {% for error in errors %}
        <p style="color:red">
        {{error}}
        </p>
        {% endfor %}
            </div>
        <p>


        <div id = "grumbleloop">
        {% for grumble in grumbles %}

          <div class = "grumble-block">
              {% if profile.picture %}
              <img class = "feedpic" src="{% url 'photo' grumble.user.id %}" alt="{{ STATIC_URL }}media/thumbnails/default.png" >
              {% endif %}
              <a class = "name" href= "/grumblr/home"> {{user.username}} </a>
              <br/>
              <br/>

             {{grumble}} 

              {% if grumble.thumbnail %}
                </br>
                  <img src="{% url 'grumbleimage' grumble.id %}" alt="{{ STATIC_URL }}media/thumbnails/default.png" width = 500px style="PADDING-LEFT: 90px" >
              {% endif %}

               </br>
              <img class = "liked" src="{{ STATIC_URL }}/grumblr/images/heart.png" >
              <a class = "commands" href="/grumblr/dislike/{{grumble.id}}/">{{grumble.date_created}} </a>
              <a class = "commands" href="/grumblr/dislike/{{grumble.id}}/">{{grumble.dislikes}} DISLIKES</a>
              <a class = "commands" href="/grumblr/delete-grumble/{{grumble.id}}">DELETE</a>



              </br>
             <div  class = "comments">
                {% for comment in grumble.comment_set.all %}
                

                <a class = "commentername" href= "/grumblr/profile/{{grumble.user.id}}"> {{comment.user.username}} </a>

                 {{comment}} 

                {% if comment.user.username = user.username %}
                <form method = "post" class = "commands" action = "/grumblr/delete-comment/"> <input type = "hidden" value = "/grumblr/followers/" name = "redirect">
                 <input type="submit" value="delete">
                  <input type = "hidden" value = "{{comment.id}}" name = "comment_id">
                  {% csrf_token %}
                </form>

                {% endif %}
                </br>
                {% endfor %}
                <div name = "commentList"></div>



    <form class = "commentformpost" action="{% url 'add_comment' %}" method="post">
          <input type="text" class = "update-comment-box" name="comment" placeholder= "comment">
                       <input class = "postComment" type="submit" value ="comment" data-item-id = {{grumble.id}}>

                       <input type = "hidden" name = "grumbleID" value = {{grumble.id}}>
             {% csrf_token %}
                                  </form>
                </div>
        </div>
          

          {% endfor %}
        </div>
        </p>

        </div>


</div>
{% endblock %}
