{% extends "base.html" %}

{% load staticfiles %}

{% block body %}
     <div class="signupbody" data-pinterest-extension-installed="cr1.3.4" bgcolor="#FFFFFF">
         {{block.super}}
         <form action = "home.html" class="form-signin" role="form">
            <h2 class="form-signin-heading">Login to cloudDj</h2>
            <input type="username" class="form-control" placeholder="Username" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            <a class = "white" href = "index.html">cancel</a>
            <button class="btn btn-lg btn-primary signup" href = "index.html" >login</button>
            {% csrf_token %}
         </form>
     </div>
{% endblock body %}