{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link href="{% static 'css/registration.css' %}" rel="stylesheet">
{% endblock %}

{% block bodytag %}
<body class="signupbody" data-pinterest-extension-installed="cr1.3.4" bgcolor="#FFFFFF">
{% endblock bodytag %}

{% block body %}
     <div class="btn-group"><a href="{% url 'login' %}">
        <button id="signup-btn" class="btn btn-lg btn-primary btn-block" type="submit">Log in</button></a>
    </div>

    {% for error in form.non_field_errors %}
        <p style="color:red">{{error}}</p>
    {% endfor %}
    <form method="post" action="{% url 'register' %}" class="signup-form">
        <h2 id="signup-header" class="form-signin-heading"><center>cloudDJ</center></h2>
        <div>
            {{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
            {% if form.username.errors %}
                <p style="color:red">{{ form.username.errors }}</p>
            {% endif %}
        </div>
        <div>
            {{ form.password1|add_class:"form-control"|attr:"placeholder:Password" }}
            {% if form.password1.errors %}
                <p style="color:red">{{ form.password1.errors }}</p>
            {% endif %}
        </div>
        <div>
            {{ form.password2|add_class:"form-control"|attr:"placeholder:Confirm Password" }}
            {% if form.password2.errors %}
                <p style="color:red">{{ form.password2.errors }}</p>
            {% endif %}
        </div>
        <div>
            {{ form.email|add_class:"form-control"|attr:"placeholder:Email" }}
            {% if form.email.errors %}
                <p style="color:red">{{ form.email.errors }}</p>
            {% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block signup" type="submit">Sign up</button>
        {% csrf_token %}
    </form>


{% endblock body %}