{% extends "base.html" %}

{% load staticfiles %}

{% block bodytag %}
    <body id="musiceditor">
{% endblock bodytag %}

{% block body %}
    {{ block.super }}
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            {% for project in projects %}
                <li class="{% if song.project == project %}active{% else %}{% endif %}"><a
                        href="{% url 'studio' project.id %}"
                        onclick="needsConfirmation = false;">{{ project.song_set.all.0.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <div class="row title">
        <div class="col-md-8 title">
            <h1 class="page-header project-title">{{ song.name }}</h1>
        </div>
        <div class="col-md-4 control">
            <div class="row">
                <div class="col-md-offset-6 col-md-3">
                    <form class="control_form" method="post" action="{% url 'save_song' song.id %}">
                        <input type="submit" class="btn btn-primary savebutton" value="Save"
                               onclick="needsConfirmation = false;">
                        {% csrf_token %}
                    </form>

                </div>
                <div class="col-md-3">
                    <button type="button" data-toggle="modal" data-target="#info_modal"
                            class="btn btn-primary postbutton">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div id="wave-timeline">
    </div>
    <div id="demo">
        <div id="waveform">
            <div class="progress progress-striped active" id="progress-bar">
                <div class="progress-bar progress-bar-info"></div>
            </div>

            <!-- Here be the waveform -->
        </div>

        <div class="controls">
            <button class="btn btn-primary" data-action="back">
                <i class="glyphicon glyphicon-step-backward"></i>
                Backward
            </button>

            <button class="btn btn-primary" data-action="play">
                <i class="glyphicon glyphicon-play"></i>
                Play
                /
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </button>

            <button class="btn btn-primary" data-action="forth">
                <i class="glyphicon glyphicon-step-forward"></i>
                Forward
            </button>

            <button class="btn btn-primary" data-action="toggle-mute">
                <i class="glyphicon glyphicon-volume-off"></i>
                Toggle Mute
            </button>
        </div>
    </div>


    <audio controls style="display:none" id="audio_controls">
        <source id="audio_src" src="{% url 'get_song' song.id %}" type="{{ type }}">
        Your browser does not support the audio element.
    </audio>

    <div class="row">
        <div class="col-md-4">
            <form id="record_form" class="music_form" action="{% url 'record' song.id %}">
                <img id="record" src="{% static 'images/mic128.png' %}" onclick="toggleRecording(this);"
                     alt="mic">
                {% csrf_token %}
            </form>
        </div>
        <div class="col-md-offset-6 col-md-2">
            <form class="music_form pull-right" method="post" action="{% url 'undo' song.id %}">
                <input class="btn btn-danger btn-lg" type="submit" value="undo">
                {% csrf_token %}
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <div class="typelabel"> Adjust</div>
            <br/>

            <div class="row">
                <div class="col-md-6">
                    <div class="slider">
                        <div class="shadowtext"> Amplify</div>
                        <form class="music_form" action="{% url 'amplify' song.id %}">
                            <label class="slider-label"></label>
                            <input name="amplify" class="slider-input" type="range" min="-20" value="0"
                                   max="20">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    <div class="slider">
                        <div class="shadowtext"> Speed</div>
                        <label id="slider-label4" class="slider-label"></label>
                        <input id="slider-input" class="slider-input" type="range" min="0" value="0"
                               max="100">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="slider">
                        <div class="shadowtext"> Bass</div>
                        <form class="music_form" action="{% url 'bass' song.id %}">
                            <label class="slider-label"></label>
                            <input name="amplify" class="slider-input" type="range" min="-15" value="0"
                                   max="15">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    <div class="slider">
                        <div class="shadowtext"> Tempo</div>
                        <form class="music_form" action="{% url 'tempo' song.id %}">
                            <label class="slider-label isRight"></label>
                            <input name="multiplier" class="slider-input" type="range" min="1" value="1"
                                   max="3" step="0.1">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="slider">
                        <div class="shadowtext"> Treble</div>
                        <form class="music_form" action="{% url 'treble' song.id %}">
                            <label class="slider-label isRight"></label>
                            <input name="amplify" class="slider-input" type="range" min="-15" value="0"
                                   max="15">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    <div class="slider">
                        <div class="shadowtext"> Pitch</div>
                        <label id="slider-label" class="slider-label isRight"></label>
                        <input id="slider-input" class="slider-input" type="range" min="0" value="0"
                               max="100">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="typelabel"> Edit Clip</div>
            <br>

            <form class="music_form" action="{% url 'repeat' song.id %}" method="post">
                <div class="inputnum">
                    <div class="shadowtext"> Repeat &nbsp;</div>
                    <input class="edittext" type="text" name="iters" placeholder="itr">
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                </div>
                {% csrf_token %}
            </form>

            <form class="music_form" action="{% url 'reverse' song.id %}" method="post">
                <div class="inputnum">
                    <div class="shadowtext"> Reverse &nbsp; </div>
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                </div>
                {% csrf_token %}
            </form>

            <form class="music_form" action="{% url 'slice' song.id %}" method="post">
                <div class="inputnum">
                    <div class="shadowtext"> Slice &nbsp; </div>
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                </div>
                {% csrf_token %}
            </form>
            <br/>

            <div class="typelabel"> Effects</div>
            <br>

            <div class="inputnum">
                <div class="shadowtext"> Reverb</div>
                <input class="edittext" type="text">
                <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
            </div>
        </div>

        <div class="col-md-3">
            <form class="music_form" action="{% url 'filter' song.id %}" method="post">

                <div class="typelabel"> Filters</div>
                <br>

                <div class="inputdouble">
                    <div class="shadowtext"> High Pass</div>
                    <input class="edittext" type="text" name="high_cutoff">
                </div>
                <div class="inputdouble">
                    <div class="shadowtext"> Low Pass</div>
                    <input class="edittext" type="text" name="low_cutoff">
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                </div>
                {% csrf_token %}
            </form>

            <div class="typelabel"> Fade</div>
            <br>

            <div class="inputdouble">
                <form class="music_form" action="{% url 'fade_in' song.id %}" method="post">
                    <div class="shadowtext"> In &nbsp;</div>
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                    {% csrf_token %}
                </form>
            </div>
            <div class="inputdouble">
                <form class="music_form" action="{% url 'fade_out' song.id %}" method="post">
                    <div class="shadowtext"> Out &nbsp; </div>
                    <input class="btn btn-default btn-xs pull-right" type="submit" value="apply">
                    {% csrf_token %}
                </form>
            </div>
            <br/><br/>
        </div>
    </div>
    </div>
    </div>
    </div>

    <form enctype="multipart/form-data" class="control_form" method="post" action="{% url 'add_post' song.id %}">
        <div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="infoLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-head">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h2 class="modal-title" id="infoLabel">&#9729; track info</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div id="images">
                                    <img class="img-rounded modal-photo" border="0"
                                         src="{% static 'images/backgroundsignin.jpg' %}" alt="song photo">
                                </div>
                                <input id="file-input" type="file" name="photo" class="form-control"
                                       placeholder="choose photo" required="" autofocus="">
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="title" class="form-control song-title-tags"
                                       placeholder="Name track">
                                <input type="text" name="genre" class="form-control song-title-tags"
                                       placeholder="Add genre">
                                <textarea type="text" name="text" class="form-control description-box"
                                          placeholder="Describe track"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary share-button" onclick="needsConfirmation = false;">
                            Share
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </form>

{% endblock body %}

{% block more_scripts %}
    <script src="{% static 'js/recordJs/recorder.js' %}"></script>
    <script src="{% static 'js/recordJs/recorderWorker.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/wavesurfer.js' %}"></script>

    <script src="{% static 'js/wavesurfer/src/webaudio.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/audioelement.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.js' %}"></script>
    <script src="{% static 'js/wavesurfer/src/drawer.canvas.js' %}"></script>

    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.timeline.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.regions.js' %}"></script>
    <script src="{% static 'js/wavesurfer/plugin/wavesurfer.minimap.js' %}"></script>

    <script src="{% static 'js/wave.js' %}"></script>

    <script src="{% static 'js/studio.js' %}"></script>

{% endblock more_scripts %}
