{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    {{block.super}}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}
    {{block.super}}
    <div class="container">
        <div class="column">
            <div class="col-sm-3 col-md-3 sidebar">
                {% block labels %}
                    <ul class="profile">
                        <img class = "propic" src="{% static 'images/propic.png' %}" >
                        <p class="sidebar-username">{{user.username}}</p>
                        <span class="glyphicon glyphicon-user sidebar-content"></span><a></a>
                        <form action="{% url 'edit-profile' %}">
                            <button type="submit" class="btn btn-default btn-sm my-btn dark-text">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        </form>
                    </ul>
                {% endblock labels %}
            </div>
        </div>
    </div>
{% endblock %}