body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
}
.signupbody {
    background-image: url("../images/backgroundsignin.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.form-signin {
  font-family: 'Avenir', serif;
        font-size: 25px;
        font-weight: 100;
        color: #FFFFFF;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
  font-size: 70px;
}
.form-signin .checkbox {
  font-weight: normal;
  magin-bottom: 10px;
  margin-left: 20px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.searchbar {
  left: 75%;
  max-width: 20%;
}

.frgtpwd {
  position: relative;
  right: -260px;
  top: -45px
}

.trans-btn {
  margin-top: 30%;
  left: 20%;
}

#signup-header {
  font-family: 'Avenir', serif;
  font-size: 70px;
  font-weight: 100px;
  color: #FFFFFF;
}

#signup-btn {
  color: #fff;
  position: relative;
  left: 1515%;
  background-color: rgba(255,255,255,.3);
  background: rgba(255,255,255,.5);
}

a:link {
    color: #6FE1D5;
}

a:visited {
    color: #6FE1D5;
}

.my-primary-btn {
    color: #fff;
    background-color: #6FE1D5;
    border-color: #6FE1D5;
}